* {
	padding:0px;
	margin:0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    max-width: 1400px;
    margin: auto;
}

.section-0 {
	border:2px solid #319181;
	border-radius:10px;
	padding:10px;
	margin: 10px;

}
body{
    background-image: url(cropped-1920-1080-7181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 700px;
    justify-content: center;
    align-items: center;
}
.section-1 {
	padding:150px 0 0 0;
	display: flex;
	justify-content: center;
}
label {
	display:block;
	border-radius:7px;
	padding:7px;
	cursor:pointer;
	border: 1px dashed #ccc;
	margin-bottom:3px;
}
label:hover {
	background:rgb(44, 44,44);
}
button{
	width:100%;
	display:block;
	margin:auto;
	padding:10px;
	background-color:#319181;
	border:none;
	cursor:pointer;
	border-radius:20px;
}
button:hover {
	background:rgb(44, 44,44);;
	color:#fff;
}
h2 {
	text-align:center;
}
h3 {
	text-align:center;
	padding: 5px;
}
#resultado {
	font-size:30px;
	color:darkred;
}
header{
    background-color: rgb(15, 15, 15);
}

.cuadro .secciones {
    width: 600px;
    height: 15px;
    transform: translate(0, 100%);
    background: white;
    margin: 0px auto;
    float: right;
    display: block;
    position: relative;
    background: rgb(255, 254, 254);
}
.secciones .link {
    padding-left: 50px;
    padding-top: 20px;
    margin: 0;
    display: inline-block;
    list-style: none;
}
.font {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    padding: 0 0 100px 0;
    color: white;
}
header img{
    width: 120px;
}
.encabezado nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 12px 20px;
    color: white;
    display: block;
}
a:hover{
    background: rgb(44, 44,44);
}